<!doctype html>
<title>PLEN</title>
<h2><pre>
<h1>Welcome to PLant ENhancer!</h1>
A one stop to all your plant insight requirements!

We can provide you insights on the following plant varieties.
	1.Apple
	2.Blueberry
	3.Cherry
	4.Grape
	5.Orange
	6.Peach
	7.Pepper
	8.Potato
	9.Raspberry
	10.Soyabean
	11.Strawberry
	12.Tomato

Please upload a valid and clear image of leaves from one of the types given above as given in the below example.

Disclaimer:
-You will see an output of "Please provide a Clear and Valid Plant Image!", if you upload an unclear or an out of variety image. 
</pre></h2>
<h1><strong>Example Image!</strong></h1>
<br>
<div>
	<img src="{{ url_for('display_image', filename='sample.JPG') }}">
</div>
<br>
<h1><strong>To get Insights on a plant, please upload an Image below!</strong></h1>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
<br>
{% if filename %}
	<h1><strong>Derived Insights!</strong></h1>
	<p>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
			<p>{{ message }}</p>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
	</p>
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}">
	</div>
{% endif %}
<br>
<strong>Thank You Note!</strong>
<pre>
We will be constantly updating this website.
In case of any inconvenience caused, we regret for that.
We are destined to make this website really useful to our farmers!
Please contact at <a href="mailto:karthikayanmailsamy@gmail.com">karthikayanmailsamy@gmail.com</a> for any queries or suggestions on improving this website!
Thank You for supporting us by visiting our website!</pre>
